
<style type="text/css">
    #side-panel {
        margin-bottom: 8%;
        background: #0C697A;
        color: white;
        font-family: Candara;
    }

    #left {
        width: 20%;
        padding: 2%;
        background: #1f1e1e;
        float: left;
        position: fixed;
        left: 0;
        margin-top: 0%;
        height: 100%;
        border-right: 1px solid black;
    }
</style>

<div id="left">
    <br><br><br />
    <input type="button" value="All admins" class="btn btn-block" id="side-panel" onclick='window.location="@Url.Action("ViewAdmin","ManageAdmin")"' />
    <input type="button" value="Add new admin" class="btn btn-block" id="side-panel" onclick='window.location="@Url.Action("AddAdmin", "ManageAdmin")"' />
    <input type="button" value="Back to admin panel" class="btn btn-block" onclick='window.location="@Url.Action("Index", "Admin")"' />
</div>


