@model IEnumerable<E_Health.Models.Information.Report>

@{
    ViewBag.Title = "ViewReports";
    var message = TempData["Report"] ?? string.Empty;
}
<script type="text/javascript">
    var message = '@message';
    if (message)
        swal(message);
</script>
<div style="position:absolute;left:1%;right:1%;top:10%;bottom:0;">
    <table class="table">
        <tr>

            <th>USER ID =@Session["UserId"]</th>
            <th></th>
            <th></th>
        </tr>
        @if (Model.Count() == 0)
        {

            <tr>
                <td>
                    <h4 style="padding-left:45%;font-family:Cambria;color:red">No reports found!</h4>
                </td>
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.Raw(@item.Image)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete_Report", "Patient", new { id = item.ReportId },
            new { onclick = "return confirm('Are you sure to delete this report?');" })
                </td>
            </tr>
        }

    </table>

</div>
